@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

:root {
    /* Main colors for layout */

    /* Blue */
    --clr-bgborder: #334;
    --clr-compbord: #445;
    --clr-compbg: #223;
    --clr-bg: #000;
    --clr-hover: #eef;
    --clr-gray: #aab;
    --clr-menutext: #cce; 
    --clr-progress: #55a;
    
    /* Red 
    --clr-bgborder: #511;
    --clr-compbord: #922;
    --clr-compbg: #311;
    --clr-bg: #100;
    --clr-hover: #fee;
    --clr-gray: #b99;
    --clr-menutext: #ecc;  
    --clr-progress: #900;
    */

    /* Colors for building headers */
    --clr-bgyellow: #443;
    --clr-bgpurp: #434;
    --clr-bgbrown: #420;
    --clr-bggray: #444;

    /* Text colors */
    --clr-white: #eee;
    --clr-darkgray: #aaa;
    --clr-yellow: #f5deb3;
    --clr-red: #E00000;
    --clr-orange: #e18700;
    --clr-green: #00D000;
    --clr-blue: #0080d0;
    --clr-purple: #9370eb;
    --clr-gold: #ffd700;
    --clr-brown: #C15710; 
    --clr-darkgreen: #008000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Carrois Gothic", sans-serif; 
    user-select: none;
}

/* General */

body {
    background-color: var(--clr-bg);
    color: var(--clr-white);
}

main {
    display: grid;
    grid-template-columns: 260px 1320px;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem 2rem;
}

.img-m {
    width: 32px;
    height: auto;
    display: block;
}

.img-s {
    width: 24px;
    height: auto;
}

/* Right panels */

.right-panel {
    grid-area: 2/2/4/2;
}

h1 {
    color: var(--clr-menutext);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
}

/* Sub boxes - big */

.bigBoxDiv {
    display: flex;
    flex-direction: column;
}

.box-sub {
    overflow: hidden;
    border: 1px solid var(--clr-compbg);
    box-shadow: 0 0 5px var(--clr-compbg);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

h3 {
    background-color: var(--clr-compbg);
    color: var(--clr-gray);
    line-height: 1;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
}

/* Sub boxes - small */

.box {
    background-color: var(--clr-bg);
    width: 295px;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--clr-bgborder);
    box-shadow: 0 0 10px var(--clr-bgborder);
    border-radius: 0.25rem;
    height: 100%;
    overflow: hidden;
}

 h2 {
    background-color: var(--clr-bgborder);
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
    letter-spacing: 1px;
    font-size: 18px;
}

.smallBoxDiv {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 2rem;
    justify-content: start;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.separator {
    width: calc(100% - 1rem);
    background-color: var(--clr-compbord);
    height: 1px;
    border: none;
}

.box-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 0.5rem;
}

.resource-box {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* width: 100%; */
}

.resource-box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
    margin-right: 0.5rem;
}

.add-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.add-form span {
    flex-grow: 1;
}

input[type="number"] {
    width: 9ch;
    font: inherit;
    color: var(--clr-white);
    outline: none;
    background-color: var(--clr-compbg);
    border: 1px solid var(--clr-compbord);
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
}

input[type="number"]:focus {
    border: 1px solid var(--clr-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Resource panel */

.resources {
    grid-area: 1/1/1/3;
    position: sticky;
    top: 0;
    opacity: 0.95;
    background-color: var(--clr-bg);
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    overflow: hidden;
    border: 1px solid var(--clr-compbord);
    border-top: none;
    box-shadow: 0 0 4px var(--clr-compbord);
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: 1fr;
    padding: 0.5rem;
}

.res {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 160px;
}

.hr {
    border-left: 1px solid var(--clr-compbord);
    padding-left: 1rem;
}

.res-nm {
    width: 120px;
}

.res-b {
    width: 240px;
}

/* Menu panel */

.alerts {
    margin-bottom: 1rem;
    width: 100%;
}

.alert-div span {
    text-transform: capitalize;
}

.alert-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    padding: 0.5rem;
}

.menu {
    grid-area: 2/1/3/1;
    border-right: 1px solid var(--clr-compbord);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
}

.menu-buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

/* General panel */

.message-div, 
.event-div {
    padding: 0.5rem;
}

.message-div > p,
.event-div > p,
.timer {
    display: flex;
    align-items: center;
    gap: 0.75ch;
}

/* Management box */

#buildingCapital {
    grid-area: 1/1/3/1;
}

#taxBox {
    grid-area: 1/2/1/2;
}

/* Statistics & economy panel */

.statsBox {
    display: grid;
    gap: 2rem;
    padding: 0.5rem;
}

.statistics {
    grid-template-columns: repeat(4, 260px);
}

.stat-header {
    font-weight: 700;
    border-bottom: 1px solid var(--clr-white);
    margin-bottom: 0.25rem;
}

.stat-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 1rem;
}

.economy {
    grid-template-columns: repeat(5, 220px);
}

.economy-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.spread {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Building box */

.build-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
}

.build-progress {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    align-items: center;
}

.progress-bar {
    width: 100%;
    outline: 1px solid var(--clr-compbord);
    border: 2px solid var(--clr-bg);
    height: 18px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.subdiv {
    padding: 0 0.5rem;
    width: 100%;
    min-height: 42px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.error-text-build {
    position: absolute;
    top: -38px;
    background-color: var(--clr-compbg);
    padding: 0.25rem;
    width: 100%;
}

.build-costs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
}

.build-description {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding: 0 0.5rem ;
}

/* Missions */

.mission-description {
    text-align: left;
    padding: 0 0.5rem ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Recruitment */

.recruit-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.recruit-info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
    padding: 0 0.5rem;
}

/* Army */

.unit-stats {
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    width: 100%;
}

.unit-stat {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    gap: 0.25rem;
}

.unit-stat div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

/* Utilities */

.none {
    display: none;
}

#buildingFarm > h2,
.bgyellow {
    background-color: var(--clr-bgyellow);
}

#buildingHouse > h2,
.bgpurple {
    background-color: var(--clr-bgpurp);
}

#buildingLumberyard > h2,
.bgbrown {
    background-color: var(--clr-bgbrown);
}

#buildingQuarry > h2,
.bggrey {
    background-color: var(--clr-bggray);
}

.ml {
    margin-left: 0.5rem;
}

.mt {
    margin-top: 0.5rem;
}

.mb {
    margin-bottom: 0.25rem;
}

.mbb {
    margin-bottom: 1rem;
}

.width100 {
    width: 100%;
}

.mtb {
    margin: 0.5rem 0;
}

/* Buttons */

button {
    font: inherit;
    background-color: var(--clr-compbg);
    color: var(--clr-white);
    border: 1px solid var(--clr-compbord);
    line-height: 1;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: all 0.1s;
}

button:hover {
    color: var(--clr-hover);
    border-color: var(--clr-hover);
    box-shadow: 0 0 10px var(--clr-hover);
    text-shadow: 0 0 10px var(--clr-hover);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.btnBuild {
    padding: 0.35rem 1.5rem;
}

.menuBtn {
    color: var(--clr-menutext);
    letter-spacing: 1px;
    line-height: 1;
    font-size: 18px;
    transition: all 0.1s;
}

.menuBtn:hover {
    font-weight: 700;
    color: var(--clr-hover);
    text-shadow: 0 0 10px var(--clr-hover);
    cursor: pointer;
}

.menuBtn:active {
    transform: scale(0.95);
}

/* temp */
#btnNewMonth {
    border: none;
    background-color: inherit;
    outline: none;
}

#btnNewMonth:hover {
    box-shadow: none;
}
/* end temp */

/* Typography */

.text-center {
    width: 100%;
    text-align: center;
}

.text-left {
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
}

.text-75 {
    width: 70%;
}

.text-big {
    font-size: 19px;
}

.text-xl {
    font-size: 22px;
}

.text-small {
    font-size: 14px;
}

.text-normal {
    font-size: 16px;
    font-weight: 400;
}

.text-it {
    font-style: italic;
    font-size: 14px;
}

.text-bold {
    font-weight: 700;
}

.text-white {
    color: var(--clr-white);
}

.text-red {
    color: var(--clr-red);
}

.text-orange {
    color: var(--clr-orange);
}

.text-green {
    color: var(--clr-green);
}

.text-blue {
    color: var(--clr-blue);
}

.text-gray {
    color: var(--clr-gray);
}

.text-darkgray {
    color: var(--clr-darkgray);
}

.text-purple {
    color: var(--clr-purple);
}

.text-gold {
    color: var(--clr-gold);
}

.text-brown {
    color: var(--clr-brown);
}

.text-yellow {
    color: var(--clr-yellow);
}

.text-darkgreen {
    color: var(--clr-darkgreen);
}

.text-disabled {
    color: var(--clr-bggray);
}