@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Nanum+Gothic&display=swap');

:root {
    --clr-white: #f0f8ff;
    --clr-gray: #BFBEBC;
    --clr-bg: #101020;
    --clr-yellow: #f5deb3;
    --clr-bgblue: #334;
    --clr-compbg: #223;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.2rem;
}

body {
    background-color: var(--clr-bg);
    margin: 1rem;
    color: var(--clr-white);
}

main {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: auto;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

main > div {
    /* border: 1px solid var(--clr-white); */
    border-radius: 0.35rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0 5px var(--clr-gray);
}

main > div h3 {
    background-color: var(--clr-gray);
    color: var(--clr-bg);
    line-height: 1;
    margin: -1rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0 0.25rem 0.75rem;
    letter-spacing: 1px;
}

.resources {
    grid-area: 1/1/3/1;
}

.building {
    grid-area: 3/1/3/4;
}

.stats {
    grid-area: 1/4/4/4;
}

.messages {
    grid-area: 1/2/1/4;
}

.events {
    grid-area: 2/2/2/4;
}

.res {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-rows: auto;
    row-gap: 0.5rem;
}

.resources hr {
    margin: 1rem 0;
    background-color: var(--clr-white);
    height: 1px;
    border: none;
}

.res-buttons {
    display: flex;
    justify-content: space-evenly;
}

.stat-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 0 1rem 1rem;
    font-size: 16px;
}

.buildings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--clr-gray);
    border-radius: 0.25rem;
    border-top-left-radius: 0;
}

.building-div {
    background-color: var(--clr-bgblue);
    width: 320px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px var(--clr-bgblue);
    border-radius: 0.25rem;
}

.building-div > h4 {
    background-color: var(--clr-compbg);
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
    box-shadow: 0 0 5px var(--clr-compbg);
    border-radius: 0.25rem;
}

.build-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.message-div {
    font-size: 16px;
}

.build-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.none {
    display: none;
}

/* Components */

button {
    font: inherit;
    background-color: var(--clr-compbg);
    color: var(--clr-white);
    border: 1px solid var(--clr-white);
    line-height: 1;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

button:hover {
    color: var(--clr-yellow);
    border-color: var(--clr-yellow);
    box-shadow: 0 0 10px var(--clr-yellow);
    text-shadow: 0 0 10px var(--clr-yellow);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.btnHouse {
    width: 100%;
}

.btnDisable {
    color: var(--clr-gray);
    border-color: var(--clr-gray);
}

.btnDisable:hover {
    color: var(--clr-gray);
    border-color: var(--clr-gray);
    box-shadow: none;
    text-shadow: none;
    cursor: default;
}

.btnDisable:active {
    transform: scale(1);
}

.btnTab {
    border-color: var(--clr-gray);
    border-bottom: none;
    border-radius: 0;
}

.btnTab:hover {
    border-color: var(--clr-gray);
    border-bottom: none;
    box-shadow: none;
    text-shadow: none;
    color: var(--clr-white);
}

.btnTab:first-of-type {
    border-top-left-radius: 0.25rem;
}

.btnTab:last-of-type {
    border-top-right-radius: 0.25rem;
}

.btnTabActive, 
.btnTabActive:hover {
    color: var(--clr-yellow);
    text-shadow: 0 0 10px var(--clr-yellow);
}

.btnTab:active, 
.btnTabActive:active {
    transform: scale(1);
}

/* Typography */

.build-description {
    font-style: italic;
    font-size: 16px;
}

.text-big {
    font-weight: 700;
    font-size: 1.2rem;
}

.text-small {
    font-weight: 400;
    font-size: 16px;
}

.text-bold {
    font-weight: 700;
}

.stat-header {
    font-weight: 700;
    border-bottom: 1px solid var(--clr-white);
    margin-bottom: 0.5rem;
}

.text-white {
    color: var(--clr-white);
}

.text-red {
    color: #d00000;
}

.text-orange {
    color: #e1a500;
}

.text-green {
    color: #00d000;
}

.text-blue {
    color: #0080d0;
}

.text-gray {
    color: var(--clr-gray);
}

.text-purple {
    color: #9370db;
}

.text-gold {
    color: #e1d700;
}

.text-brown {
    color: #C15710;
}

.text-yellow {
    color: var(--clr-yellow);
}