@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1.2rem;
}

body {
    background-color: #101020;
    margin: 1rem;
    color: aliceblue;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: auto;
    justify-content: center;
    margin: 2rem;
    gap: 1rem;
}

main > div {
    /* border: 1px solid aliceblue; */
    border-radius: 0.35rem;
    overflow: hidden;
    padding: 1rem;
    box-shadow: 0 0 5px lightgray;
}

main > div h3 {
    background-color: lightgray;
    color: #101020;
    line-height: 1;
    margin: -1rem;
    margin-bottom: 1rem;
    padding: 0.25rem 0 0.25rem 0.75rem;
    letter-spacing: 1px;
}

.resources {
    grid-area: 1/1/3/1;
}

.building {
    grid-area: 3/1/3/4;
}

.stats {
    grid-area: 1/4/4/4;
}

.messages {
    grid-area: 1/2/1/4;
}

.events {
    grid-area: 2/2/2/4;
}

.res {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 0.5rem;
}

.resources hr {
    margin: 1rem 0;
    background-color: aliceblue;
    height: 1px;
    border: none;
}

.res-buttons {
    display: flex;
    justify-content: space-evenly;
}

.stat-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 0 1rem 1rem;
    font-size: 16px;
}

.buildings {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.building-div {
    background-color: #334;
    width: 320px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 0 10px #334;
    border-radius: 0.25rem;
}

.building-div > h4 {
    background-color: #223;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
    box-shadow: 0 0 5px #223;
    border-radius: 0.25rem;
}

.build-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.message-div {
    font-size: 16px;
}

.build-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* Components */

button {
    font: inherit;
    background-color: #334;
    color: aliceblue;
    border: 1px solid aliceblue;
    line-height: 1;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

button:hover {
    color: wheat;
    border-color: wheat;
    box-shadow: 0 0 10px wheat;
    text-shadow: 0 0 10px wheat;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.btnHouse {
    background-color: #223;
    width: 100%;
}

.btnDisable {
    color: #aaa;
    border-color: #aaa;
}

.btnDisable:hover {
    color: #aaa;
    border-color: #aaa;
    box-shadow: none;
    text-shadow: none;
    cursor: default;
}

.btnDisable:active {
    transform: scale(1);
}

/* Typography */

.build-description {
    font-style: italic;
    font-size: 16px;
}

.text-big {
    font-weight: 700;
    font-size: 1.2rem;
}

.text-red {
    color: red;
}

.text-green {
    color: ForestGreen;
}

.stat-header {
    font-weight: 700;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 0.5rem;
}

.text-gray {
    color: DarkGray;
}

.text-purple {
    color: MediumPurple;
}

.text-gold {
    color: Gold;
}

.text-brown {
    color: Chocolate;
}

.text-bold {
    font-weight: bold;
}