@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

:root {
    /* Main colors for layout */
    --clr-boxborder: #445;
    --clr-boxbg: #151020bb;
    --clr-componentborder: #556;
    --clr-componentbg: #334;
    --clr-bg: #000c;
    --clr-progress: #55a;   

    /* Text colors */
    --clr-hover: #eef;
    --clr-gray: #aab;
    --clr-menutext: #cce; 
    --clr-white: #eee;
    --clr-darkgray: #aaa;
    --clr-yellow: #f5deb3;
    --clr-red: #E00000;
    --clr-orange: #e18700;
    --clr-green: #00D000;
    --clr-blue: #0080d0;
    --clr-purple: #9370eb;
    --clr-gold: #ffd700;
    --clr-brown: #C15710; 
    --clr-darkgreen: #008000;
    --clr-bggray: #444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Carrois Gothic", sans-serif; 
    user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
}
  
::-webkit-scrollbar-track {
    background: var(--clr-componentbg);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-componentborder);
}

/* General */

body {
    background-color: var(--clr-bg);
    background-image: url('../media/bck.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color;
    color: var(--clr-white);
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 260px 1320px;
    grid-template-rows: auto;
    justify-content: center;
    gap: 1rem;
}

.img-m {
    width: 32px;
    height: auto;
    display: block;
}

.img-s {
    width: 24px;
    height: auto;
}

.toolbox {
    position: relative;
}

.tooltip {
    position: absolute;
    left: 0;
    top: 75%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--clr-boxbg);
    box-shadow: 0 0 10px var(--clr-boxborder) inset;
    border: 1px solid var(--clr-boxborder);
    padding: 0.25rem 0.5rem;
    transition: all 0.1s;
    border-radius: 0.25rem;
    color: var(--clr-gray);
    font-size: 14px;
    z-index: 5;
}

.toolbox:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* Right panels */

#rightPanel {
    grid-area: 2/2/4/2;
    overflow-y: auto;
    max-height: 85vh;
}

h1 {
    color: var(--clr-menutext);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 24px;
    background: linear-gradient(90deg, transparent 30%, var(--clr-componentbg) , transparent 70%);
    padding: 0.1rem 0;
    
}

/* Sub boxes - big */

.bigBoxDiv {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}

.box-sub {
    overflow: hidden;
    box-shadow: 0 0 5px var(--clr-boxborder) inset;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    background-color: var(--clr-boxbg);
}

h3 {
    background-color: var(--clr-componentbg);
    box-shadow: 0 0 10px var(--clr-boxbg) inset;
    color: var(--clr-gray);
    line-height: 1;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
}

/* Sub boxes - small */

.box {
    background-color: var(--clr-boxbg);
    width: 315px;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 0 5px var(--clr-boxborder) inset;
    border-radius: 0.25rem;
    height: fit-content;
    overflow: hidden;
    
}

 h2 {
    background-color: var(--clr-boxborder);
    box-shadow: 0 0 5px var(--clr-boxbg) inset;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
    letter-spacing: 1px;
    font-size: 18px;
}

.smallBoxDiv {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: start;
}

.buttons-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1rem;
}

.separator {
    width: 100%;
    background: linear-gradient(90deg, transparent, var(--clr-componentborder), transparent);
    height: 1px;
    border: none;
}

.vseparator {
    width: 2px;
    background: linear-gradient(transparent, var(--clr-componentborder), transparent);
    height: 100%;
    border: none;
}

.box-stats {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 0.5rem;
}

.resource-box {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.resource-box div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.25rem;
    margin-right: 0.5rem;
}

.add-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    gap: 0.5rem;
    align-items: center;
}

.add-form span {
    flex-grow: 1;
}

input[type="number"] {
    width: 9ch;
    font: inherit;
    color: var(--clr-white);
    outline: none;
    background-color: var(--clr-componentbg);
    border: 1px solid var(--clr-componentborder);
    padding: 0.15rem 0.25rem;
    border-radius: 0.25rem;
}

input[type="number"]:focus {
    border: 1px solid var(--clr-gray);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Resource panel */

.resources {
    grid-area: 1/1/1/3;
    background-color: var(--clr-boxbg);
    border-bottom-left-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    box-shadow: 0 0 5px var(--clr-boxborder) inset;
    border: 1px solid var(--clr-boxborder);
    border-top: none;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: 1fr auto;
    padding: 0.25rem 1rem;
}

#res-sep {
    margin-top: 0.25rem;
    grid-area: 2/1/2/11;
}

.alert-div {
    padding: 0.25rem 0 0;
    grid-area: 3/1/3/11;
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

.alert-div span {
    text-transform: capitalize;
}

.res {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 160px;
}

.res-nm {
    width: 120px;
}

.res-b {
    width: 240px;
}

/* Menu panel */

.menu {
    grid-area: 2/1/3/1;
    background-color: var(--clr-boxbg);
    border-radius: 0.35rem;
    box-shadow: 0 0 5px var(--clr-boxborder) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0;
    width: 260px;
    border: 1px solid var(--clr-boxborder);
}

.menu-buttons-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

/* General panel */

.message-div, 
.event-div {
    padding: 0.5rem;
}

.message-div > p,
.event-div > p,
.timer {
    display: flex;
    align-items: center;
    gap: 0.75ch;
}

/* Statistics & economy panel */

.statsBox {
    display: grid;
    gap: 2rem;
    padding: 0.5rem;
}

.statistics {
    grid-template-columns: repeat(4, 260px);
}

.stat-header {
    font-weight: 700;
    border-bottom: 1px solid var(--clr-white);
    margin-bottom: 0.25rem;
}

.stat-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 1rem;
}

.economy {
    grid-template-columns: repeat(5, 220px);
}

.economy-div {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.spread {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Building box */

.build-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
}

.build-progress {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    align-items: center;
}

.progress-bar {
    width: 100%;
    outline: 1px solid var(--clr-componentborder);
    border: 2px solid var(--clr-boxbg);
    height: 18px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.subdiv {
    padding: 0 0.5rem;
    width: 100%;
    min-height: 42px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.error-text-build {
    position: absolute;
    top: -38px;
    background-color: var(--clr-componentbg);
    padding: 0.25rem;
    width: 100%;
}

.build-costs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
}

.build-description {
    font-style: italic;
    font-size: 14px;
    text-align: center;
    padding: 0 0.5rem ;
}

.build-description-icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75ch;
}

/* Missions */

.mission-description {
    text-align: left;
    padding: 0 0.5rem ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Recruitment */

.recruit-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.recruit-info {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
    padding: 0 0.5rem;
}

.add-max:hover {
    cursor: pointer;
    color: var(--clr-hover);
}

.error-text-recruit {
    position: absolute;
    top: -34px;
    background-color: var(--clr-componentbg);
    padding: 0.25rem;
    width: 100%;
    z-index: 2;
    text-align: center;
}

/* Army */

.unit-stats {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 100%;
}

.unit-stat {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    gap: 0.25rem;
}

.unit-stat div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

/* Utilities */

.none {
    display: none;
}

.width100 {
    width: 100%;
}

.relative {
    position: relative;
}

.ml {
    margin-left: 0.5rem;
}

.mt {
    margin-top: 0.5rem;
}

.mtb {
    margin: 0.5rem 0;
}

.mtbb {
    margin: 1rem 0 0.5rem;
}

.mb {
    margin-bottom: 1rem;
}

/* Buttons */

button {
    font: inherit;
    background-color: var(--clr-componentbg);
    color: var(--clr-white);
    border: 1px solid var(--clr-componentborder);
    line-height: 1;
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    transition: all 0.1s;
}

button:hover {
    /* color: var(--clr-hover); */
    border-color: var(--clr-gray);
    box-shadow: 0 0 10px var(--clr-gray);
    text-shadow: 0 0 10px var(--clr-gray);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.btnBuild {
    padding: 0.35rem 1.5rem;
}

.menuBtn {
    color: var(--clr-menutext);
    letter-spacing: 1px;
    line-height: 1;
    font-size: 18px;
    transition: all 0.1s;
}

.menuBtn:hover {
    font-weight: 700;
    color: var(--clr-hover);
    text-shadow: 0 0 10px var(--clr-hover);
    cursor: pointer;
}

.menuBtn:active {
    transform: scale(0.95);
}

#btnNewMonth {
    border: none;
    background-color: inherit;
    outline: none;
    letter-spacing: 1px;
    line-height: 1;
    font-size: 18px;
    transition: all 0.1s;
    margin-bottom: 0.5rem;
}

#btnNewMonth:hover {
    box-shadow: none;
    font-weight: 700;
    color: var(--clr-hover);
    text-shadow: 0 0 10px var(--clr-hover);
    cursor: pointer;
}

#btnNewMonth:active {
    transform: scale(0.95);
}

/* Typography */

.text-center {
    width: 100%;
    text-align: center;
}

.text-left {
    width: 100%;
    text-align: left;
    padding-left: 0.5rem;
}

.text-75 {
    width: 70%;
}

.text-big {
    font-size: 19px;
}

.text-xl {
    font-size: 22px;
}

.text-small {
    font-size: 14px;
}

.text-normal {
    font-size: 16px;
    font-weight: 400;
}

.text-it {
    font-style: italic;
    font-size: 14px;
}

.text-i {
    font-style: italic;
}

.text-bold {
    font-weight: 700;
}

.text-white {
    color: var(--clr-white);
}

.text-red {
    color: var(--clr-red);
}

.text-orange {
    color: var(--clr-orange);
}

.text-green {
    color: var(--clr-green);
}

.text-blue {
    color: var(--clr-blue);
}

.text-gray {
    color: var(--clr-gray);
}

.text-darkgray {
    color: var(--clr-darkgray);
}

.text-purple {
    color: var(--clr-purple);
}

.text-gold {
    color: var(--clr-gold);
}

.text-brown {
    color: var(--clr-brown);
}

.text-yellow {
    color: var(--clr-yellow);
}

.text-darkgreen {
    color: var(--clr-darkgreen);
}

.text-disabled {
    color: var(--clr-bggray);
}
