<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Game concept layout</title>
</head>
<body>
    <div class="res-bar">

        <div class="res-text-nongain res-text-short-nongain finish-bar">
            <div class="res-type-nongain" id="general">Month <span>1</span></div>
        </div>

        <div class="res-text">
            <div class="res-type" id="gold">Go</div>
            <div class="res-amount">100 000</div>
            <div class="month-gain"><span id="positive">+ 100</span></div>
        </div>

        <div class="res-text">
            <div class="res-type" id="people">Pe</div>
            <div class="res-amount">200 / 1000</div>
            <div class="month-gain"><span id="positive">+ 100</span></div>
        </div>

        <div class="res-text finish-bar">
            <div class="res-type" id="food">Fo</div>
            <div class="res-amount">1 000</div>
            <div class="month-gain"><span id="positive">+ 100</span></div>
        </div>

        <div class="res-text res-text-short">
            <div class="res-type" id="wood">Wo</div>
            <div class="res-amount">1 000</div>
            <div class="month-gain"><span id="positive">+ 100</span></div>
        </div>

        <div class="res-text res-text-short finish-bar">
            <div class="res-type" id="stone">St</div>
            <div class="res-amount">1 000</div>
            <div class="month-gain"><span id="positive">+ 100</span></div>
        </div>

        <div class="res-text res-text-short finish-bar">
            <div class="res-type" id="general">Fa</div>
            <div class="res-amount">1 000</div>
            <div class="month-gain"><span id="negative">- 100</span></div>
        </div>

        <div class="res-text-nongain res-text-short-nongain finish-bar">
            <div class="res-type-nongain" id="general">Ha<span> 100%</span></div>
        </div>

        <div class="res-text-nongain res-text-short-nongain finish-bar">
            <div class="res-type-nongain" id="general">Army <span id="negative">tired</span></div>
        </div>

        <div class="res-text non-bar">
            <div class="res-type" id="general">Re</div>
            <div class="res-ec"><span id="negative">No economy research</span></div>
            <div class="res-mil">1/10: name_of_research</div>
        </div>
    </div>

    <div class="main">

        <div class="nav-bar">

            <div class="next-month"><a href="#">Next month</a></div>

            <div class="nav-title">Empire</div>
            <div class="nav-item"><a href="#">Capital</a></div>
            <div class="nav-item"><a href="#">Empire management</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-title">Economy</div>
            <div class="nav-item"><a href="#">Recruitment</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-title">Army</div>
            <div class="nav-item"><a href="#">Recruitment</a></div>
            <div class="nav-item"><a href="#">Items</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-item"><a href="#">Item</a></div>
            <div class="nav-title">Conquest</div>
            <div class="nav-item"><a href="#">Plunder</a></div>
            <div class="nav-item"><a href="#">Campaign</a></div>
        </div>

        <div class="window">
            text
        </div>
    </div>
</body>
</html>